[Unit]
Description=Jellyfin

[Container]
Image=docker.io/jellyfin/jellyfin:latest
ContainerName=jellyfin
User=1000:1000
GroupAdd=keep-groups
Label=io.containers.autoupdate=registry
PublishPort=8096:8096/tcp
PublishPort=7359:7359/udp
PublishPort=1900:1900/udp
AddDevice=/dev/video19
AddDevice=/dev/dri/renderD128
Volume={{ jellyfin_config_dir }}:/config
Volume={{ jellyfin_cache_dir }}:/cache
Volume=/media/daspool/media:/media

[Service]
Restart=always
