---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Reload NFS exports
  ansible.builtin.command:
    cmd: exportfs -ra

- name: Restart Samba
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: restarted
  loop:
    - smbd
    - nmbd
