---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart FreshRSS
  block:
    - name: Check FreshRSS unit load state
      ansible.builtin.command:
        cmd: systemctl show -p LoadState freshrss.service
      changed_when: false
      failed_when: false
      register: freshrss_load_state

    - name: Restart FreshRSS service
      ansible.builtin.systemd:
        name: freshrss.service
        state: restarted
      when:
        - freshrss_load_state.stdout is defined
        - "'LoadState=not-found' not in freshrss_load_state.stdout"
