---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart Caddy
  block:
    - name: Check Caddy unit load state
      ansible.builtin.command:
        cmd: systemctl show -p LoadState caddy.service
      changed_when: false
      failed_when: false
      register: caddy_load_state

    - name: Restart Caddy service
      ansible.builtin.systemd:
        name: caddy.service
        state: restarted
      when:
        - caddy_load_state.stdout is defined
        - "'LoadState=not-found' not in caddy_load_state.stdout"
