[Unit]
Description=FreshRSS

[Container]
Image={{ freshrss_image }}
ContainerName=freshrss
Label=io.containers.autoupdate=registry
Environment=PUID={{ freshrss_uid }}
Environment=PGID={{ freshrss_gid }}
Environment=TZ={{ freshrss_timezone }}
Volume=freshrss-config:/config
PublishPort={{ freshrss_port }}:80/tcp

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
