---
- name: Install Samba
  ansible.builtin.apt:
    name: samba
    state: present
  tags:
    - samba
    - apt

- name: Ensure Samba config include directory exists
  ansible.builtin.file:
    path: /etc/samba/smb.conf.d
    state: directory
    mode: "0755"
  tags:
    - samba
    - config

- name: Ensure Samba includes daspool.conf
  ansible.builtin.lineinfile:
    path: /etc/samba/smb.conf
    regexp: '^\s*include\s*=.*/etc/samba/smb\.conf\.d/daspool\.conf'
    line: "   include = /etc/samba/smb.conf.d/daspool.conf"
    insertafter: '^\[global\]'
    state: present
  notify: restart samba
  tags:
    - samba
    - config

- name: Install Samba share for daspool
  ansible.builtin.template:
    src: daspool.smb.conf.j2
    dest: /etc/samba/smb.conf.d/daspool.conf
    owner: root
    group: root
    mode: "0644"
  notify: restart samba
  tags:
    - samba
    - config

- name: Ensure Samba services are enabled and started
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: true
    state: started
  loop:
    - smbd
    - nmbd
  tags:
    - samba
    - service

- name: Check for Samba user
  ansible.builtin.command:
    cmd: pdbedit -L
  register: samba_users
  changed_when: false
  tags:
    - samba
    - user

- name: Ensure Samba user exists and has password
  ansible.builtin.command:
    cmd: "smbpasswd -s -a {{ samba_user }}"
  args:
    stdin: "{{ smb_password }}\n{{ smb_password }}\n"
  when: "samba_user ~ ':' not in samba_users.stdout"
  no_log: true
  tags:
    - samba
    - user
