# Managed by Ansible

parity /mnt/parity1/snapraid.parity

content /mnt/das1/snapraid.content
content /mnt/das2/snapraid.content
content /mnt/das3/snapraid.content
content /mnt/parity1/snapraid.content

data d1 /mnt/das1
data d2 /mnt/das2
data d3 /mnt/das3

exclude /lost+found/
