[Unit]
Description=Caddy

[Container]
Image=ghcr.io/caddybuilds/caddy-cloudflare:latest
ContainerName=caddy
Label=io.containers.autoupdate=registry
EnvironmentFile=/etc/caddy/caddy.env
Network=host
Volume=/etc/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
Volume=caddy-data:/data
Volume=caddy-config:/config

[Service]
Restart=always
